body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

form {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #babfc7;
}

label, select, input {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #a72828;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

h2 {
    text-align: center;
    color: #333;
}
